<ion-header>
  <ion-toolbar>
    <ion-title>Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="transactionCard">
    <div class="event" [ngStyle]="{'overflow-y': notToShowAll2 ? 'hidden' : 'scroll'}">
      <ion-list style="padding-top: 3px; width: 90%; margin-left: 10px;">
        <ion-item *ngFor="let trans of transactionDataArr;trackBy: trackByFn">
        <!-- <ion-item> -->
          <!-- <ion-avatar style="margin-left: 10px; margin-right: 10px;" alt="..."
            [src]="trans.profileImage=='not_available'? defaultImage : trans.profileImage"></ion-avatar> -->
            <img class="imgStyle" alt="..."
            [src]="trans.profileImage=='not_available'? defaultImage : trans.profileImage">
          <div id="wrapper">
            <b class="cusNameClass">
              {{trans.customerName}} 
              <ion-icon name="mail-outline" class="email-icon"></ion-icon>
            </b>
            <p class="cusHistoryContent"> 
              {{trans.transactionId}} | 
              {{trans.operation}} | 
              {{trans.trnAmount | currency:trans.transactionCurrency:'symbol':'1.0-1'}} 
            </p>
          </div>
          <!-- <ion-icon class="email-icon" (click)="showTransactionDetail(trans.transactionId)">mail-outline</ion-icon> -->
        </ion-item>
      </ion-list>
    </div>

    <div fxLayout="row wrap" class="view-card" fxLayoutGap="100px">
      <!-- <a (mouseover)="changeText=true" (mouseout)="changeText=false">
        <a *ngIf="notToShowAll2" (click)="notToShowAll2 = false" class="viewAll">View All ></a>
      </a> -->
      <!-- <a title="go to revert transaction summary" class="viewAll" (click)="openRevertTransactionDialog()"> 
        View Revert Requests > 
      </a> -->
    </div>
  </div>
</ion-content>
