<ion-content class="ioncontent">

  <div class="pix"><img src="assets\images\pf.jpg" class="img" />

  </div>
  <div>
    <span class="text">Maria Jacob</span>
    <span class="text1">mariaJacob@gmail.com</span>
  </div>

  <form>
   
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\settings.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Account Settings</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Update and
              modify your profile.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
      </div>


    </div>

    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\security.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Security Center</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Change Your Password</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
      </div>


    </div>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\notification.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Notifications</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Change Your notification settings.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
      </div>


    </div>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\help.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>HELP</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Need more help</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
      </div>


    </div>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\faq.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>FAQ</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Ask your questions.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
      </div>


    </div>
 
  </form>
  

</ion-content>

