
<div class="header-container">
  <div class="pix" id="pix"></div>
      <ion-avatar >
        <div *ngIf="image==null" >
          <h1 class="img" [style.background]="getRandomColor(i+3)" style="text-align: center; font-size: 50px; padding-top: 30px;">
            {{formData?.firstName | uppercase | slice:0:1}}{{formData?.lastName | uppercase | slice:0:1}}</h1>
        </div>
        <div *ngIf="image!=null">
          <img class="img" [src]="image" alt="" >
        </div>
      </ion-avatar>
  <!-- <img src="assets\images\avatar.png" class="img"  *ngIf="!image"> -->
  <!-- <img class="img" [src]="currentImage" *ngIf="currentImage" alt="assets\images\pf.jpg"> -->
  <img class="img1" id="action-sheets-home-page" src="assets\icon\camera.PNG" alt="Ionic logo" (click)="openActionSheet()">
 

</div>

<div id="name">
  <span class="text">{{fullName}}</span>
  <span class="text1">{{email}}</span>
</div>
<ion-content>

  
 
  <form id="form">
   
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\settings.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Account Settings</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Update and
              modify your profile.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo"  (click)="account()">
       
      </div>


    </div>

    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\security.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Security Center</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Change Your Password</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo" (click)="settings()">
      </div>


    </div>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\notification.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Notifications</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Change Your notification settings.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
      </div>


    </div>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\help.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Help</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Need more help</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo" (click)="goToHelp()">
      </div>


    </div>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\faq.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Faq</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Ask your questions.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo" (click)="goToFaq()">
      </div>


    </div>
 
  </form>
  
  <input type="file" accept="image/*" #file style="display: none;" (change)="fileSelected($event)">
</ion-content>

