
<ion-content>
  <div class="rect">
    <ion-header class="head">
      
      <ion-toolbar  class="new-background-color" style="--border-width: 0;">
        <ion-icon name="close" class="close" slot="end" (click)="next()"></ion-icon>
        <div class="text" style="margin-left:35px;">Appointment Summary</div>
      
        <!-- <span class="text1">Token Number <br> <span class="text2" style="opacity:100%;">{{tokenNo}}</span></span> -->
  
  
      </ion-toolbar>
    </ion-header>
    <div class="innerRect">
      <span class="circle"></span>
    <div class="inputCard">
      <ion-label style="opacity: 51%;">Transaction Amount</ion-label>
      <ion-label class="display">{{transAmount}}</ion-label>
      <!-- <ion-input class="box" placeholder="Enter Current Password"></ion-input> -->
    
      <!-- </div>
  
  
  
        <div class="inputCard"> -->
          <ion-label style="opacity: 51%;">Transaction Branch</ion-label>
          <ion-label class="display">{{branch}}</ion-label>
          <!-- <ion-input class="box" placeholder="Enter Current Password"></ion-input> -->
        
     
  
         
            <ion-label style="opacity: 51%;">Transaction Date</ion-label>
            <ion-label class="display">{{transDate}}</ion-label>
            <!-- <ion-input class="box" placeholder="Enter Current Password"></ion-input> -->
          
        
              <ion-label style="opacity: 51%;">Time Slot</ion-label>
              <ion-label class="display">{{transTime}}</ion-label>
              <!-- <ion-input class="box" placeholder="Enter Current Password"></ion-input> -->
   
              </div>
              <!-- <img src="data:image/png;base64,{{blobUrl}}">  -->
              <img [src]="imageToShow">
              <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
             
              <ion-label class="inputCard" style="display:block;opacity: 70%;font-size: 16pt;" (click)="addToWallet()">Add to wallet</ion-label> 
            
    </div>
   
     
  
  <div class="inputCard">
   
  </div>
  </div>
  
  
  </ion-content>
  