<ion-header class="ion-no-border">
    <!-- <ion-title>Hi Maria</ion-title> -->
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-avatar slot="end">
      <img src="assets\images\BL2.png">
    </ion-avatar>
    <ion-label style="font-size: xx-large;">Hi Maria</ion-label>
  </ion-item>

  <div>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </div>

  <div>
    <ion-slides pager [options]="slideOpts">
      <ion-slide >
        <div class="slider1">
         
        </div>
        
      </ion-slide>
  
      <ion-slide>
        <div class="slider2" >
          <img src="assets\images\BL2.png" style="width: 48pt;height: 32pt; margin-top: 6%;margin-right: 50%;">
          <ion-icon name="settings-outline" class="settingicon"></ion-icon> 
          <ion-label class="labelaccount">Account Balance</ion-label>
          <p style="color: #FFFFFF;margin-left: 50%;">$12,09,98</p>

          <p class="savingaccount">Saving account</p>
        </div>
        
      </ion-slide>
  
      <ion-slide>
        <div class="slider3" >
          <ion-card>

          </ion-card>
        </div>
      </ion-slide>
  
      
  
    </ion-slides>
  </div>
  <div class="textCard">
    <ion-text style="font-size:x-large;">All Transaction</ion-text>
  </div>
  <div style="display: flex;">
    
   <ion-card class="transactionCards">
    <div>
      <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
    </div>
    <div>
      <p class="cashwithdrawalcard">Cash Withdrawal</p>
    </div>
   </ion-card>

   <ion-card class="transactionCards">
    <div>
      <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
    </div>
    <div>
      <p class="cashdepositcard">Cash Deposit</p>
    </div>
   </ion-card>

   <ion-card class="transactionCards">
    <div>
      <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
    </div>
    <div>
      <p class="chequedepositcard">Cheque Deposit</p>
    </div>
   </ion-card>
  </div>

  <div style="display: flex;">
    
    <ion-card class="transactionCards">
     <div>
       <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
     </div>
     <div>
       <p class="cashwithdrawalcard">Cash Withdrawal</p>
     </div>
    </ion-card>
 
    <ion-card class="transactionCards">
     <div>
       <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
     </div>
     <div>
       <p class="cashdepositcard">Cash Deposit</p>
     </div>
    </ion-card>
 
    <ion-card class="transactionCards">
     <div>
       <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
     </div>
     <div>
       <p class="chequedepositcard" >Cheque Deposit</p>
     </div>
    </ion-card>
   </div>

   <div style="display: flex;">
    
    <ion-card class="transactionCards">
     <div>
       <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
     </div>
     <div>
       <p class="cashwithdrawalcard">Cash Withdrawal</p>
     </div>
    </ion-card>
 
    <ion-card class="transactionCards">
     <div>
       <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
     </div>
     <div>
       <p class="cashdepositcard">Cash Deposit</p>
     </div>
    </ion-card>
 
    <ion-card class="transactionCards">
     <div>
       <ion-icon name="flower-sharp" style="font-size: x-large;margin-left: 40%;margin-top: 20%;"></ion-icon>
     </div>
     <div>
       <p class="chequedepositcard">Cheque Deposit</p>
     </div>
    </ion-card>
   </div>
  
</ion-content>
