<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar  slot="end" (click)="logOut()">
        <div *ngIf="image==null" >
          <h1 class="img" [style.background]="getRandomColor(i+3)" 
               style="text-align: center; font-size: 16px; padding-top: 10px;">
            {{formData?.firstName | uppercase | slice:0:1}}{{formData?.lastName | uppercase | slice:0:1}}</h1>
        </div>
        <div *ngIf="image!=null">
          <img class="img" [src]="image" alt="profile">
        </div>
      </ion-avatar>
      <ion-label style="font-size: xx-large;">Hi {{firstName}}</ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

   
<ion-content>

  <div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide  *ngFor="let info of loanArray; index as i;" (click)="getAccountNumber(info)">
        <div class="slider1">
          <img src="assets\images\BL2.png" class="bankLogo" >
  
          <ion-text class="accType">Loan Account</ion-text>
          <ion-icon name="settings-outline" class="settingicon"></ion-icon> 
        
          <!-- <ion-label  style="width: 48pt;height: 32pt; margin-left: -20%;font-size: small;margin-bottom: 20%;">Account Balance</ion-label> -->
          <!-- <th>Account Id</th>

          <p >{{info.accountId}}</p>

          <p  style="font-size: small;">{{info.amount}}</p> -->
          
          <!-- <table style="margin: auto;">
            <th style="margin: auto;
            font-size: small;
            padding-left: 30px;
            color: white;font-weight: 500;">Saving Account</th>
            <tr>
              <th style="font-size: 12px;
              font-weight: 500;;">Account Id</th>
           <th style="font-size: 12px;
           padding: 10px;font-weight: 500;">Account Balance</th> </tr>
           <tr  *ngFor="let info of savingArray; index as i;">
        <th style="font-size: 12px;font-weight: 500;">{{info.accountId}}</th>
        <th style="font-size: 12px;font-weight: 500;">{{info.amount}}</th>
           </tr>
          </table> -->


          <table class="accTable">
            <tr>
              <th style="font-size: 12px;
              font-weight: 500;;">Account Number</th>
           <th style="font-size: 12px;
           padding: 10px;font-weight: 500;">Account Balance</th> </tr>
           <tr>
        <th style="font-size: 12px;font-weight: 500;">{{info.accountId}}</th>
        <th style="font-size: 12px;font-weight: 500;">  {{currLoan}} {{info.amount | number: '2.'}}</th>
           </tr>
          </table>
        </div>
        
      </ion-slide>
  
      <ion-slide style="position: initial;" *ngFor="let info of savingArray; index as i;" (click)="getAccountNumber(info)">
        <div class="slider2">
          <img src="assets\images\BL2.png" class="bankLogo" >
  
          <ion-text class="accType">Savings Account</ion-text>
          <ion-icon name="settings-outline" class="settingicon"></ion-icon> 
        
          <!-- <ion-label  style="width: 48pt;height: 32pt; margin-left: -20%;font-size: small;margin-bottom: 20%;">Account Balance</ion-label> -->
          <!-- <th>Account Id</th>

          <p >{{info.accountId}}</p>

          <p  style="font-size: small;">{{info.amount}}</p> -->
          
          <!-- <table style="margin: auto;">
            <th style="margin: auto;
            font-size: small;
            padding-left: 30px;
            color: white;font-weight: 500;">Saving Account</th>
            <tr>
              <th style="font-size: 12px;
              font-weight: 500;;">Account Id</th>
           <th style="font-size: 12px;
           padding: 10px;font-weight: 500;">Account Balance</th> </tr>
           <tr  *ngFor="let info of savingArray; index as i;">
        <th style="font-size: 12px;font-weight: 500;">{{info.accountId}}</th>
        <th style="font-size: 12px;font-weight: 500;">{{info.amount}}</th>
           </tr>
          </table> -->


          <table class="accTable">
            <tr>
              <th style="font-size: 12px;
              font-weight: 500;;">Account Number</th>
           <th style="font-size: 12px;
           padding: 10px;font-weight: 500;">Account Balance</th> </tr>
           <tr>
        <th style="font-size: 12px;font-weight: 500;">{{info.accountId}}</th>
        <th style="font-size: 12px;font-weight: 500;">{{curr}} {{info.amount | number: '2.'}}</th>
           </tr>
          </table>

          </div>
        
        
      </ion-slide>
  
      <ion-slide *ngFor="let info of currentArray; index as i;" (click)="getAccountNumber(info)">
        <div class="slider3" >
          <img src="assets\images\BL2.png" class="bankLogo" >
  
          <ion-text class="accType">Current Account</ion-text>
          <ion-icon name="settings-outline" class="settingicon"></ion-icon> 
        
          <!-- <ion-label  style="width: 48pt;height: 32pt; margin-left: -20%;font-size: small;margin-bottom: 20%;">Account Balance</ion-label> -->
          <!-- <th>Account Id</th>

          <p >{{info.accountId}}</p>

          <p  style="font-size: small;">{{info.amount}}</p> -->
          
          <!-- <table style="margin: auto;">
            <th style="margin: auto;
            font-size: small;
            padding-left: 30px;
            color: white;font-weight: 500;">Saving Account</th>
            <tr>
              <th style="font-size: 12px;
              font-weight: 500;;">Account Id</th>
           <th style="font-size: 12px;
           padding: 10px;font-weight: 500;">Account Balance</th> </tr>
           <tr  *ngFor="let info of savingArray; index as i;">
        <th style="font-size: 12px;font-weight: 500;">{{info.accountId}}</th>
        <th style="font-size: 12px;font-weight: 500;">{{info.amount}}</th>
           </tr>
          </table> -->


          <table class="accTable">
            <tr>
              <th style="font-size: 12px;
              font-weight: 500;;">Account Number</th>
           <th style="font-size: 12px;
           padding: 10px;font-weight: 500;">Account Balance</th> </tr>
           <tr>
        <th style="font-size: 12px;font-weight: 500;">{{info.accountId}}</th>
        <th style="font-size: 12px;font-weight: 500;">{{currCurrent}} {{info.amount | number: '2.'}}</th>
           </tr>
          </table>
        </div>
      </ion-slide>
  
      
  
    </ion-slides>
  </div>
  <div class="textCard mt-20">
    <ion-text style="font-size:x-large;">All Transaction</ion-text>
  </div>
  <ion-grid class="mt-20">
    <ion-row>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToCashWithdrawal()">
          <div>
            <img class="grid-icon" src="assets\icon\cashw.PNG"  alt="Ionic logo">
            <p class="card-title" >Cash Withdrawal</p>
            <!-- <h5>Cash Withdrawal</h5> -->
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToCashDeposit()">
            <img class="grid-icon" src="assets\icon\cashdeposit.PNG" alt="Ionic logo">
            <p class="card-title">Cash Deposit</p>
         </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToChequeDeposit()">
            <img class="grid-icon" src="assets\icon\chequedeposit.PNG" alt="Ionic logo">
            <p class="card-title">Cheque Deposit</p>
         </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToChequeWithdrawal()">
          <div>
            <img class="grid-icon" src="assets\icon\cashw.PNG"  alt="Ionic logo">
            <p class="card-title" >Cheque Withdrawal</p>
            <!-- <h5>Cash Withdrawal</h5> -->
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToForexTransaction()">
            <img class="grid-icon" src="assets\icon\cashdeposit.PNG" alt="Ionic logo">
            <p class="card-title">Forex Transaction</p>
         </ion-card>
      </ion-col>
   
      <!-- <ion-col>
        <ion-card class="transactionCards" (click)="goToChequeDeposit()">
            <img class="image3" src="assets\icon\chequedeposit.PNG" alt="Ionic logo">
            <p class="chequedepositcard">Cheque Deposit</p>
         </ion-card>
      </ion-col> -->
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToLoanPayment()">
          <div>
            <img class="grid-icon" src="assets\icon\cashw.PNG"  alt="Ionic logo">
            <p class="card-title" >Loan Payment</p>
            <!-- <h5>Cash Withdrawal</h5> -->
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
   
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToUtilityPayment()">
            <img class="grid-icon" src="assets\icon\cashdeposit.PNG" alt="Ionic logo">
            <p class="card-title">Utility Bill Payment</p>
         </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToDepositTopUp()">
            <img class="grid-icon" src="assets\icon\chequedeposit.PNG" alt="Ionic logo">
            <p class="card-title">Deposit Top Up</p>
         </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
