<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="end" (click)="goToProfile()">
        <ng-container *ngIf="image == null || image == undefined; else showAvatar">
          <h1 class="img" [style.background]="getRandomColor(i+3)" 
               style="text-align: center; font-size: 16px; padding-top: 10px;">
            {{formData?.firstName | uppercase | slice:0:1}}{{formData?.lastName | uppercase | slice:0:1}}</h1>
        </ng-container>
        <ng-template #showAvatar>
          <img class="img" [src]="image" alt="profile">
        </ng-template>
      </ion-avatar>

      <ion-label style="font-size: xx-large;" class="font-black">Hi {{firstName}}</ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

   
<ion-content>



    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide  *ngFor="let card of cards; index as i;" (click)="getAccountNumber(card)">
        <div class="slider1">
          <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <img src="assets\images\BL2.png" class="bankLogo">
            </ion-col>
            <ion-col class="ion-align-self-center">
              <ion-icon name="settings-outline" class="settingicon"></ion-icon> 
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-end" size="4">
            <p class="acc-type capitalize" >{{ card.accountType + ' Account' }}</p>
             <p class="acc-type capitalize">{{ card.accountId }}</p>

            </ion-col>
            <ion-col class="ion-align-self-center" size="8">
              <p class="acc-balance leading-3 capitalize">Account Balance</p>
              </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-end">
            <ion-col class="ion-align-self-end">
              <p class="balance leading-3">{{ card.accountCurrency | currencySymbol  }} {{  card.amount | number: '1.'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        
      </ion-slide>
    </ion-slides>
 
  

  

  <div class="textCard mt-20">
    <ion-text style="font-size:x-large;">All Transaction</ion-text>
  </div>
  <ion-grid class="mt-20">
    <ion-row>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToCashWithdrawal()">
          <div>
            <img class="grid-icon" src="assets\icon\cashw.PNG"  alt="Ionic logo">
            <p class="card-title" >Cash Withdrawal</p>
            <!-- <h5>Cash Withdrawal</h5> -->
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToCashDeposit()">
            <img class="grid-icon" src="assets\icon\cashdeposit.PNG" alt="Ionic logo">
            <p class="card-title">Cash Deposit</p>
         </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToChequeDeposit()">
            <img class="grid-icon" src="assets\icon\chequedeposit.PNG" alt="Ionic logo">
            <p class="card-title">Cheque Deposit</p>
         </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToChequeWithdrawal()">
          <div>
            <img class="grid-icon" src="assets\icon\cashw.PNG"  alt="Ionic logo">
            <p class="card-title" >Cheque Withdrawal</p>
            <!-- <h5>Cash Withdrawal</h5> -->
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToForexTransaction()">
            <img class="grid-icon" src="assets\icon\cashdeposit.PNG" alt="Ionic logo">
            <p class="card-title">Forex Transaction</p>
         </ion-card>
      </ion-col>
   
      <!-- <ion-col>
        <ion-card class="transactionCards" (click)="goToChequeDeposit()">
            <img class="image3" src="assets\icon\chequedeposit.PNG" alt="Ionic logo">
            <p class="chequedepositcard">Cheque Deposit</p>
         </ion-card>
      </ion-col> -->
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToLoanPayment()">
          <div>
            <img class="grid-icon" src="assets\icon\cashw.PNG"  alt="Ionic logo">
            <p class="card-title" >Loan Payment</p>
            <!-- <h5>Cash Withdrawal</h5> -->
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
   
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToUtilityPayment()">
            <img class="grid-icon" src="assets\icon\cashdeposit.PNG" alt="Ionic logo">
            <p class="card-title">Utility Bill Payment</p>
         </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="transactionCards" (click)="goToDepositTopUp()">
            <img class="grid-icon" src="assets\icon\chequedeposit.PNG" alt="Ionic logo">
            <p class="card-title">Deposit Top Up</p>
         </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
