<ion-content>
  <!-- <div class="float-right-lg"> -->
    <div class="top-right-quarter-circle"></div>
  <!-- </div> -->
  
 
    <form [formGroup]="loginForm" style="height: 890px;">
      <div class="login-logo">
        <img src="assets\images\BL1.png" alt="Ionic logo">
      </div>
    <div style="padding-top: -60%;">

    
      <div class="titleCard">
        <ion-text>
          <h2 style="color:black">Sign In</h2>
          <h5 style="color: gray;">Enter your details to get started</h5>
        </ion-text>
      </div>
    
    
      <div class="inputCard" >
       <ion-label position="floating">Mobile number</ion-label>
        <ion-input class="box" formControlName="phoneNo" (keypress)=_keyPress($event) maxLength = "10"></ion-input>
    </div>
<!--     
    <div class="inputCard"  *ngIf="otpValid" >
      <ion-label position="floating">OTP</ion-label>
       <ion-input class="box" formControlName="otp"></ion-input>
    </div> -->
    
    <div class="inputCardButton">
      <ion-button expand="block" shape="round" (click) ="getOtp(loginForm.value)"
      >Continue</ion-button>
      <!-- <span *ngIf="userResp">
        <small style="color: red;">User Not Registered</small>
      </span> -->
      <!-- <ion-button expand="block" shape="round" (click) ="validateOtp(loginForm.value.otp) ;goToCashWithdrawal(loginForm.value)"
      >Login</ion-button> -->
      <!-- (click)="goToCashWithdrawal(loginForm.value)" -->
    </div>

    <!-- <ion-item-divider style="border-bottom: 5px solid #1F618D;">
      <ion-label>
        or scan finger
      </ion-label>
    </ion-item-divider> -->
    
    <div class="ion-padding-top">
      <ion-icon name="finger-print" class="fingerPrint" 
      (click)="openDialog()"></ion-icon>
    </div>
  </div>
    </form> <div class="top-left-quarter-circle"></div>
  </ion-content>
