
  <ion-header>
    <ion-toolbar style="padding-top: 7%;" class="new-background-color">
      <ion-icon class="backIcon" name="chevron-back-outline" (click)="goToLogin()"></ion-icon>
      <span class="text">{{title}}</span>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div>
    <ion-item class="item">
      <ion-label>
       <p class="labelcard">Login Password Changed On</p> 
       {{title}} 
      </ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item class="item">
      <ion-label>
       <p class="labelcard">Login Password Expiry Date</p> 
       {{title}} 
      </ion-label>
    </ion-item>
  </div>
</ion-content>
