<ion-content>
  <ion-header>
    <ion-toolbar  class="new-background-color">
      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>
      <span class="text">Change Password</span>
    </ion-toolbar>
  </ion-header>
  <form  [formGroup]="changePasswordForm">
    <div class="inputCard">
    <ion-label>Current Password</ion-label>
    <ion-input class="box" placeholder="Enter Current Password" formControlName="currentPassword" ngDefaultControl></ion-input>
  
    </div>
    <div class="inputCard">
      <ion-label>New Password</ion-label>
      <ion-input class="box" placeholder="Enter New Password" formControlName="newPassword" ngDefaultControl></ion-input>
    
      </div>
      <div class="inputCard">
        <ion-label>Re-enter New Password</ion-label>
        <ion-input class="box" placeholder="Re-enter Current Password" formControlName="newPasswordConfirmation" ngDefaultControl></ion-input>
      
        </div>
    </form>
  
     
  
  </ion-content>
  <div>
    <ion-button  expand="block" shape="round" style="height:56pt;margin-left:16pt;margin-right:16pt;margin-bottom: 31px;"
    (click)="save()">Save Changes</ion-button>
    </div>




