<ion-header>
  <ion-toolbar  class="new-background-color">
    <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>
    <span class="text" style="margin-left: 2%;">Change Password</span>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <form  [formGroup]="changePasswordForm">

    <ion-list>
      <ion-item *ngIf="firstTimeLogin == 'N' ">
        <ion-label style="font-size: 26px;color:#1F618D;font-weight: 600;" position="stacked">Current Password</ion-label>
    <ion-input placeholder="Enter Current Password" [type]="currShowPassword ? 'text' : 'password'"
    formControlName="currentPassword"></ion-input>
      <ion-icon  class="suffix-icon" (click)="onPasswordToggle('current')" ion-button clear small item-end [name]="currShowPassword ? 'eye' : 'eye-off'"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 26px;color:#1F618D;font-weight: 600;" position="stacked">New Password</ion-label>
        <ion-input [type]="newShowPassword ? 'text' : 'password'" placeholder="Enter New Password" formControlName="newPassword"
        ></ion-input>
      <ion-icon  class="suffix-icon" (click)="onPasswordToggle('new')" ion-button clear small item-end [name]="newShowPassword ? 'eye' : 'eye-off'"></ion-icon> 
    </ion-item>
    <div *ngIf="changePasswordForm.controls['newPassword'].invalid && (changePasswordForm.controls['newPassword'].dirty
     || changePasswordForm.controls['newPassword'].touched)" class="alert">
    <div *ngIf="changePasswordForm.controls['newPassword'].hasError('required')" style="color :red;">
      <span slot="error">Password is required</span>
    </div>
  </div>
    <div *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')"  style="color :red;">
      <span slot="error"> Must be at least 8 characters!</span>
    </div>
    <div *ngIf="changePasswordForm.controls['newPassword'].hasError('hasNumber')"  style="color :red;">
      <span slot="error"> Must contain at least 1 number!</span>
    </div>
    <div *ngIf="changePasswordForm.controls['newPassword'].hasError('hasCapitalCase')"  style="color :red;">
      <span slot="error"> Must contain at least 1 in Capital Case!</span>
    </div>
    <div *ngIf="changePasswordForm.controls['newPassword'].hasError('hasSmallCase')"  style="color :red;">
      <span slot="error"> Must contain at least 1 Letter in small Case!</span>
    </div>
    <div *ngIf="changePasswordForm.controls['newPassword'].hasError('hasSpecialCharacters')"  style="color :red;">
      <span slot="error"> Must contain at least 1 Special Character!</span>
    </div>
      <ion-item>
        <ion-label style="font-size: 26px;color:#1F618D;font-weight: 600;" position="stacked">Re-enter New Password</ion-label>
        <ion-input [type]="reEnterShowPassword ? 'text' : 'password'" placeholder="Re-enter Current Password" formControlName="newPasswordConfirmation"></ion-input>
      <ion-icon  class="suffix-icon" (click)="onPasswordToggle('reenter')" ion-button clear small item-end [name]="reEnterShowPassword ? 'eye' : 'eye-off'"></ion-icon>
      </ion-item>
    <div *ngIf="changePasswordForm.controls['newPasswordConfirmation'].invalid && (changePasswordForm.controls['newPasswordConfirmation'].dirty || changePasswordForm.controls['newPasswordConfirmation'].touched)" class="alert">
      <div *ngIf="changePasswordForm.controls['newPasswordConfirmation'].hasError('required')"  style="color :red;">
        Confirm Password is Required!
      </div>

      <div *ngIf="changePasswordForm.controls['newPasswordConfirmation'].hasError('NoPassswordMatch')"  style="color :red;">
        Password do not match
      </div>
    </div>


    </ion-list>
    <!-- <div >
      <ion-item>
        <ion-label position="stacked">Current Password</ion-label>
    <ion-input placeholder="Enter Current Password" [type]="showPassword ? 'text' : 'password'"
    formControlName="currentPassword" ngDefaultControl></ion-input>
    <button class="suffix-icon" (click)="onPasswordToggle()" ion-button clear small item-end icon-only>
      <ion-icon  class="suffix-icon" (click)="onPasswordToggle()" ion-button clear small item-end [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
    </button>
      </ion-item>
    
    </div>
    <div class="inputCard">
      <ion-label>New Password</ion-label>
      <ion-input class="box" placeholder="Enter New Password" formControlName="newPassword" ngDefaultControl></ion-input>
    
      </div>
      <div class="inputCard">
        <ion-label>Re-enter New Password</ion-label>
        <ion-input class="box" placeholder="Re-enter Current Password" formControlName="newPasswordConfirmation" ngDefaultControl></ion-input>
      
        </div> -->

    </form>
  
     
  
  </ion-content>
  <div>
    <ion-button  expand="block" shape="round" style="height:56px;margin-left:16pt;margin-right:16pt;margin-bottom: 31px;"
    (click)="save()">Save Changes</ion-button>
    </div>



