<ion-content>
  <ion-header>
    <ion-toolbar  class="new-background-color">
      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>
      <span class="text">Change Password</span>
    </ion-toolbar>
  </ion-header>

  <ion-item-divider>
    <div class="inputCard">
      <div class="box" readonly>
        <img class="icon" src="assets\icon\settings.PNG" alt="Ionic logo">
        <div class="name">
          <div style="width: fit-content;margin-left: 10pt;">
            <div>Account Settings</div>
            <div style="font-size: 9pt;font-family: 'Montserrat' !important;font-weight:100;opacity: 50%;">Update and
              modify your profile.</div>
          </div>
        </div>
        <img class="button" src="assets\icon\click.PNG" alt="Ionic logo">
       
      </div>


    </div>
  </ion-item-divider>
     
  
  </ion-content>
 




