<ion-header *ngIf="!flag">
  <ion-toolbar  class="new-background-color">
    <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>
    <span class="text" style="margin-left: 2%;">Account Settings</span>
    <ion-buttons slot="end">
      <ion-button   (click)="openActionSheet()">
        <!-- <ion-icon slot="icon-only" md="ellipsis-vertical"></ion-icon>
        <ion-icon name="more"></ion-icon> -->
        <ion-icon name="ellipsis-vertical"></ion-icon>
      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!flag">
 

  <ion-item-divider>
   
      <img class="icon" src="assets\icon\home.PNG" alt="Ionic logo">
      <div class="name">
        <div style="width:fit-content;margin-left: 10pt;">
          <div style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Number</div>
          <div style="font-size:16px;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">
       
            <ion-select
            [compareWith]="compareWith"
            class="box" disabled
            ngDefaultControl  [(ngModel)]="option.defaultId" #defaultId 
          >
          <ion-select-option *ngFor="let user of users"  [value]="user"
          >{{user}}</ion-select-option>
          </ion-select>
          </div>
        </div>
      </div>
      <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
     



  </ion-item-divider>

  <ion-item-divider>
   
    <img class="icon" src="assets\icon\blueCamera.PNG" alt="Ionic logo">
    <div class="name">
      <div style="width:fit-content;margin-left: 10pt;">
        <div style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Holder's Name</div>
        <div style="font-size:16px;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">
          {{formData?.firstName}} {{formData?.middleName}} {{formData?.lastName}}</div>
      </div>
    </div>
    <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
   



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\location.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;" >
      <div style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">
        Communication Address </div>
      <ion-textarea  class="box4"  [(ngModel)]=option.address [ngModelOptions]="{standalone: true}">
      
        </ion-textarea>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\phoneNumber.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;">
      <div style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">
        Mobile Number</div>
      <div style="font-size:16px;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">
        {{formData?.phoneNumber}}</div>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\email.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;">
      <div style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Email Id</div>
      <div style="font-size:16px;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">
        {{formData?.primaryEmailAdress}}</div>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\pan.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;" >
      <div style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">PAN Number</div>
      <!-- <div  *ngFor="let id of formData?.custIdProofs;let i=index"> -->
      <div style="font-size:12px;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">
        {{formData?.panNumber}}</div>
      <!-- </div> -->
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
  </ion-content>



  <ion-header *ngIf="flag">
    <ion-toolbar  class="new-background-color">
      <ion-icon name="chevron-back-outline" (click)="previous1()"></ion-icon>
      <span class="text" style="margin-left: 2%;">Account Settings</span>
      <!-- <ion-buttons slot="end">
        <ion-button   (click)="openActionSheet()">
          <ion-icon name="ellipsis-vertical"></ion-icon>
      
        
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="flag">
   <form [formGroup]="kycVerificationForm" (ngSubmit)="onSubmitTemplateBased()">
  
    <!-- <ion-item-divider> -->
     
        <!-- <img class="icon" src="assets\icon\home.PNG" alt="Ionic logo"> -->
        
          <!-- <div >
            <div style="font-size:16pt;opacity:70%;padding-bottom: 7pt;margin-top:20px;margin-left:10px;font-family:'Montserrat'!important;color:#102245;">Account Number</div>
            <ion-item class="box">
             <ion-label position="floating"></ion-label>
             
              <ion-input type="downArrow"></ion-input>
              <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo">
            </ion-item>
            
          <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">109 0000 889897 87123.</div> -->
          <!-- </div> -->
          <div class="inputCard" readonly>
            <ion-label style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Number</ion-label>
            <ion-select
            [compareWith]="compareWith"
            class="box"
            ngDefaultControl  [(ngModel)]="option.defaultId" #defaultId [ngModelOptions]="{standalone: true}"
          >
          <ion-select-option *ngFor="let user of users"  [value]="user"
          >{{user}}</ion-select-option>
          </ion-select>
          
            </div>
            <div class="inputCard">
              <ion-label style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Holder's Name</ion-label>
              <ion-input  class="box" formControlName="firstName">
              <!-- <ion-select-option></ion-select-option> -->
              <!-- {{formData?.firstName}} {{formData?.lastName}} -->
              </ion-input>
              <div class="error" *ngIf="kycVerificationForm.get('firstName').invalid || kycVerificationForm.get('firstName').touched">
                Enter Account Holder Name.
              </div>
              <!-- <small *ngIf="kycVerificationForm.get('firstName').invalid && (kycVerificationForm.get('firstName').dirty ||kycVerificationForm.get('firstName').touched )">
                <small *ngIf="(kycVerificationForm.get('firstName')).errors?.required">Name is required</small>
             -->
            </div>
              <div class="inputCard">
                <ion-label style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Communication Address</ion-label>
                <!-- <ion-textarea style="font-family: 'Montserrat' !important;" class="box1" 
                [(ngModel)]=option.address [ngModelOptions]="{standalone: true}" value="option.address">
                 
                </ion-textarea> -->
                <ion-input  class="box" formArrayName="communicationAddress" [value]=option.address>
                  </ion-input>
               
                
              
                </div>
       
                <div class="inputCard">
                  <ion-label style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Mobile Number</ion-label>
                  <ion-input  class="box1" maxlength="10" formControlName="phoneNumber">
                  <!-- <ion-select-option></ion-select-option> -->
             
                  </ion-input>
                  <div class="error" *ngIf="kycVerificationForm.get('phoneNumber').hasError('pattern')">
                    Phone number must be 10 digits.
                  </div>
                  <div class="error" *ngIf="kycVerificationForm.get('phoneNumber').hasError('required')">
                    phone number is Required!
                  </div>
                
                  </div>
                  <div class="inputCard">
                    <ion-label style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Email Id</ion-label>
                    <ion-input  class="box1" formControlName="primaryEmailAdress">
                    <!-- <ion-select-option></ion-select-option> -->
                    <!-- {{formData?.primaryEmailAdress}} -->
                    </ion-input>
                    <div class="error" *ngIf="kycVerificationForm.get('primaryEmailAdress').hasError('pattern')">
                      Please enter valid email address!
                    </div>
                    <div class="error" *ngIf="kycVerificationForm.get('primaryEmailAdress').hasError('required')">
                      email address is Required!
                    </div>
                  
                    </div>
                    <div class="inputCard">
                      <ion-label style="font-size:16px;opacity:40%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">PAN Number</ion-label>
                      <ion-input  class="box1" formControlName="panNumber">
                      <!-- <ion-select-option></ion-select-option> -->
                      </ion-input>
                    
                      </div>
                      
             
         
  
                      <div>
                        <ion-button expand="block" shape="round" style="width: 95%;padding-left: 7%;margin-top:28px;
                        height: 50px;margin-bottom:28px;" [disabled]="kycVerificationForm.invalid" (click)="saveAccount(kycVerificationForm.value)"
                        >Save Changes</ion-button>
                        </div>
  
                      </form>
    </ion-content>