<ion-content *ngIf="!flag">
  <ion-header>
    <ion-toolbar  class="new-background-color">
      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>
      <span class="text">Account Settings</span>
      <ion-buttons slot="end">
        <ion-button   (click)="openActionSheet()">
          <!-- <ion-icon slot="icon-only" md="ellipsis-vertical"></ion-icon>
          <ion-icon name="more"></ion-icon> -->
          <ion-icon name="ellipsis-vertical"></ion-icon>
        
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-item-divider>
   
      <img class="icon" src="assets\icon\home.PNG" alt="Ionic logo">
      <div class="name">
        <div style="width:fit-content;margin-left: 10pt;">
          <div style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Number</div>
          <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">109 0000 889897 87123.</div>
        </div>
      </div>
      <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo">
     



  </ion-item-divider>

  <ion-item-divider>
   
    <img class="icon" src="assets\icon\blueCamera.PNG" alt="Ionic logo">
    <div class="name">
      <div style="width:fit-content;margin-left: 10pt;">
        <div style="font-size:16pt;opacity:75%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Holder's Name</div>
        <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">Maria Jacob</div>
      </div>
    </div>
    <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
   



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\location.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;">
      <div style="font-size:16pt;opacity:75%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Communication Address</div>
      <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">80 feet road, Indiranagar, Bengaluru, 686536</div>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\phoneNumber.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;">
      <div style="font-size:16pt;opacity:75%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Mobile Number</div>
      <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">8547073111</div>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\email.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;">
      <div style="font-size:16pt;opacity:75%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Email Id</div>
      <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">mariajacob@gmail.com</div>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
<ion-item-divider>
   
  <img class="icon" src="assets\icon\pan.PNG" alt="Ionic logo">
  <div class="name">
    <div style="width:fit-content;margin-left: 10pt;">
      <div style="font-size:16pt;opacity:75%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">PAN Number</div>
      <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">7647 07311 5671</div>
    </div>
  </div>
  <!-- <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo"> -->
 



</ion-item-divider>
  </ion-content>




  <ion-content *ngIf="flag">
    <ion-header>
      <ion-toolbar  class="new-background-color">
        <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>
        <span class="text">Account Settings</span>
        <!-- <ion-buttons slot="end">
          <ion-button   (click)="openActionSheet()">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        
          
          </ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>
  
    <!-- <ion-item-divider> -->
     
        <!-- <img class="icon" src="assets\icon\home.PNG" alt="Ionic logo"> -->
        
          <!-- <div >
            <div style="font-size:16pt;opacity:70%;padding-bottom: 7pt;margin-top:20px;margin-left:10px;font-family:'Montserrat'!important;color:#102245;">Account Number</div>
            <ion-item class="box">
             <ion-label position="floating"></ion-label>
             
              <ion-input type="downArrow"></ion-input>
              <img class="button" src="assets\icon\downArrow.PNG" alt="Ionic logo">
            </ion-item>
            
            <!-- <div style="font-size:12pt;font-family:'Montserrat'!important;font-weight:bolder;opacity:100%;color:#102245;">109 0000 889897 87123.</div> -->
          <!-- </div> -->
          <div class="inputCard" readonly>
            <ion-label style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Number</ion-label>
            <ion-select  class="box" >
              <ion-select-option></ion-select-option>
            </ion-select>
          
            </div>
            <div class="inputCard" readonly>
              <ion-label style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Account Holder's Name</ion-label>
              <ion-input  class="box" readonly>
              <!-- <ion-select-option></ion-select-option> -->
              </ion-input>
            
              </div>
              <div class="inputCard">
                <ion-label style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Communication Address</ion-label>
                <ion-input  class="box1">
                <!-- <ion-select-option></ion-select-option> -->
                </ion-input>
              
                </div>
       
                <div class="inputCard">
                  <ion-label style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Mobile Number</ion-label>
                  <ion-input  class="box1">
                  <!-- <ion-select-option></ion-select-option> -->
                  </ion-input>
                
                  </div>
                  <div class="inputCard">
                    <ion-label style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">Email Id</ion-label>
                    <ion-input  class="box1">
                    <!-- <ion-select-option></ion-select-option> -->
                    </ion-input>
                  
                    </div>
                    <div class="inputCard">
                      <ion-label style="font-size:16pt;opacity:70%;padding-bottom: 7pt;font-family:'Montserrat'!important;color:#102245;">PAN Number</ion-label>
                      <ion-input  class="box1">
                      <!-- <ion-select-option></ion-select-option> -->
                      </ion-input>
                    
                      </div>
                      
             
         
  
                      <div>
                        <ion-button expand="block" shape="round" style="width: 95%;padding-left: 7%;margin-top:28px;
                        height: 50px;margin-bottom:28px;"
                        >Save Changes</ion-button>
                        </div>
  
  
    </ion-content>