.rect {
    margin-top: 50pt;
    // min-width: 327pt;
    //min-height: 470pt;
    background-color: #456EFE;
    margin-left: 24pt;
    margin-right: 24pt;
    margin-bottom: 53pt;
    border-radius: 20px;
    border-bottom-style: hidden;
}

ion-header {
    bottom: none;
}

ion-content {
    --ion-background-color: #111D12;
}

.new-background-color {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    --background: white;
    height: fit-content;
    padding-top: 30px;
    // margin-left: 2%;
    display: inline-block;
    vertical-align: middle;
    color: #3477C6;
    font-size: 13pt;
    padding-top: 24pt;
    padding-left: 4pt;
    font-family: 'Montserrat' !important;
    box-shadow: none;

}

.text1 {
    display: block;
    // padding-left:60pt;
    text-align: center;
    // margin-top:66pt;
    padding-top: 10pt;
    color: #102245;
    opacity: 27%;
    size: 10pt;
    font-family: 'Montserrat' !important;
    justify-content: center;
}

.text2 {
    display: block;
    // padding-left:60pt;
    text-align: center;
    // margin-top:66pt;
    padding-top: 10pt;
    color: #102245;
    opacity: 100%;
    font-size: 27pt;
    // font-weight: bolder;
    padding-bottom: 10pt;
    font-family: 'Montserrat' !important;
    justify-content: center;

}

.accountSummaryText {
    text-align: center;
}

.innerRect {
    position: relative;
}

.circle {
    position: absolute;
    left: 48%;
    top: -18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
}

.head {
    box-shadow: none;
}

.inputCard:not(.display) {

    padding-left: 32pt;
    padding-top: 42pt;
    font-family: 'Montserrat' !important;
    color: #FFFFFF;
    // opacity: 51%;
    size: 14pt;
}

.display {
    display: block;
    font-size: 17pt;
    color: #FFFFFF;
    padding-top: 10pt;
    padding-bottom: 20pt;
    // opacity: 100%;
}

img {
    padding-top: 10pt;
    min-height: 96pt;
    width: 96pt;
    margin-left: 32pt;
    // padding-bottom: 18pt;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0;
}

.header-md::after {
    left: unset;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
}

.close {
    // margin-bottom:140px;
    color: lightgrey;
    height: 18pt;
    width: 18pt;
    position: absolute;
    // justify-content: right;
    right: 10px;
    top: -5px;
    // padding-bottom: 130px;
    // padding-right:10px;
}