<ion-content>
  <!-- <div class="float-right-lg"> -->
    <div class="top-right-quarter-circle"></div>
  <!-- </div> -->
  
 
    <form [formGroup]="otpForm"  novalidate>
      <div class="login-logo">
        <img src="assets\images\BL1.png" alt="Ionic logo">
      </div>
    <div style="padding-top: -60%;">

    
      <div class="titleCard">
        <ion-text>
          <h2 style="color:black">Sign In</h2>
          <h5 style="color: gray;">Enter your details to get started</h5>
        </ion-text>
      </div>
    
    
      <!-- <div class="inputCard" >
       <ion-label position="floating">Phone number</ion-label>
        <ion-input class="box" formControlName="phoneNo"></ion-input>
    </div> -->
    
    <div class="inputCard">
      <ion-label position="floating">OTP</ion-label>
       <ion-input class="box" formControlName="otp" maxLength = "6"></ion-input>
    </div>
    
    <div class="inputCardButton">
      <!-- <ion-button expand="block" shape="round" (click) ="getOtp(loginForm.value)"
      >Continue</ion-button> -->
      <ion-button expand="block" shape="round" (click) ="validateOtp(otpForm.value) "
      >Login</ion-button>
      <!-- (click)="goToCashWithdrawal(loginForm.value)" ;goToCashWithdrawal(otpForm.value)-->
    </div>
    
    <div class="ion-padding-top">
      <p style="padding-left: 20%;">Didn't Received your OTP? Resend</p>
      <p (click) ="getOtp(loginForm.value)"   style="display: inline; font-weight: bolder;">Resend</p>
    </div>
  </div>
    </form> <div class="top-left-quarter-circle"></div>
  </ion-content>

